* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.03em;
  font-weight: 300;
}

.container {
  max-width: 1410px;
  padding: 50px 15px;
  margin: 0 auto;
}

.section {
  margin-bottom: 12px;
}

.section__title {
  margin-bottom: 8px;
  font-weight: 500;
}

.tag {
  padding: 2px 12px;
  background-color: #56c552;
  font-size: 12px;
  color: #ffffff;
  border-radius: 12px;
  font-weight: 600;
}

.cart__title {
  display: flex;
  align-items: center;
}

.cart__count {
  margin-left: 4px;
  margin-top: 4px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 12px;
}

.label {
  display: block;
  margin-bottom: 3px;
  font-size: 14px;
}

.input {
  display: block;
  width: 100%;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  padding: 8px 12px;
  transition: border-color 75ms linear;
}

.input:focus {
  outline: none;
  border-color: #56c552;
}

.btn {
  padding: 8px 12px;
  background-color: #56c552;
  color: #ffffff;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 75ms linear;
}

.btn:hover {
  background-color: #6fd46b;
}

.btn:active {
  background-color: #65c55e;
}

.product {
  width: 200px;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  padding: 12px 16px;
  position: relative;
}

.product__img {
  display: block;
  object-fit: cover;
  object-position: center;
  width: 168px;
  height: 180px;
}

.product__title {
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
}

.product__price {
  font-weight: 500;
  font-size: 26px;
  margin-bottom: 6px;
}

.product__price-tag {
  font-size: 20px;
}

.product__form {
  display: flex;
  align-items: end;
}

.product__quantity-controls {
  display: flex;
  gap: 4px;
  margin-bottom: 12px;
}

.product__quantity-field {
  margin-right: 8px;
}

.product__quantity-btn {
  padding: 0;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  border: none;
  background-color: #eeeeee;
  color: #000000;
}

.product__quantity-btn:hover {
  background-color: #e2e2e2;
}

.product__quantity-btn:active {
  background-color: #d7d7d7;
}
