body {
  background-color: #1c1c1c;
  color: #fff;
}

.card {
  display: inline-block;
  background-color: #dcdcdc;
  border-radius: 8px;
  padding: 20px;

  &__text {
    color: #000;
    font-family: sans-serif;
    font-size: 18px;
  }
}
