<div class="card">
  <p class="card__text">{{text}}</p>
  <ul class="card__list">
    {{#each people}}
    <li class="card__item">{{this.firstName}} {{this.lastName}}</li>
    {{/each}}
  </ul>
</div>