<input type="text" autocomplete="off" id="notificationTime">

<button id="startBtn">Почати</button>
<button id="pauseBtn" data-action="pause" disabled>Пауза</button>
<button id="stopBtn" disabled>Зупинити</button>
<p id="output">00:00:00</p>
