<!DOCTYPE html>
<html lang="uk">
  <head>
    {{>partials/meta title="Posts"}}
  </head>
  <body>
    <div class="posts-list">
      {{> partials/post title="Title 1" body="Test body 1" }}
    </div>
  </body>
</html>
