<!DOCTYPE html>
<html lang="uk">

<head>
  {{>partials/meta title="Todos"}}
</head>

<body>
  <div class="container">
    <form class="todo-editor">
      <textarea name="text" placeholder="Enter todo text" class="form-field" required></textarea>
      <button class="btn" type="submit">Create</button>
    </form>

    <div class="todo-list"></div>
  </div>
</body>

</html>