<!DOCTYPE html>
<html lang="uk">
  <head>
    {{>partials/meta title="Posts"}}
  </head>
  <body>
    <div class="posts-list"></div>
    <span class="loader" id="postsLoader" style="display: none;"></span>
    <button class="btn" id="loadMoreBtn">Load More</button>

    <div class="modal" id="postModal">
      <div class="nodal-backdrop">
        <div class="modal-content">
          <h2 class="modal-title">Post 1</h2>
          <p class="modal-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, officiis iusto consectetur deserunt soluta ut atque exercitationem sunt deleniti illo libero minus, illum fugiat sapiente rerum tempore nisi repellat officia?</p>

          <h3 class="modal-subtitle"></h3>
          <div class="comments-list">
            <div class="comment">
              <h4 class="comment-email">test@mail.com</h4>
              <p class="comment-body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt ducimus dolor ut! Aut illo dignissimos at tempora sint tenetur expedita voluptas neque quis! Accusamus perspiciatis et eaque assumenda dicta sed!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
