<!DOCTYPE html>
<html lang="uk">
  <head>
    {{>partials/meta title="Timers"}}
  </head>
  <body>
    {{!-- {{>partials/random-interval}} --}}
    {{!-- {{>partials/counter}} --}}
    {{>partials/timer}}
  </body>
</html>
