<!DOCTYPE html>
<html lang="uk">

<head>
  {{>partials/meta title="News"}}
</head>

<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-10 col-12">
        <div id="news-list" class="d-flex flex-column gap-3"></div>
      </div>
    </div>
  </div>
</body>

</html>