<!DOCTYPE html>
<html lang="uk">
  <head>
    {{>partials/meta title="Homework 10"}}
  </head>
  <body>
    <form class="form">
      <input
        type="search"
        autocomplete="off"
        placeholder="Search language..."
        name="query"
        class="form-field"
        required
      />
      <button type="submit" class="btn">Пошук</button>
    </form>

    <p class="loader" style="display: none;">Loading...</p>

    <p class="result"></p>
    <p class="error" style="display: none;"></p>
  </body>
</html>
