.box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 800px;
  width: 800px;
  margin-bottom: 150px;
  background-color: palevioletred;
  color: #fff;
  font-family: sans-serif;
  font-size: 48px;
  font-weight: 700;
}
